## Series 데이터
Series 데이터란 Numpy array가 보강된 형태로, Data와 index를 가지고 있는 데이터 형식입니다.

주어진 예시는 Series 데이터를 만드는 방법입니다.

이번 실습에서는 딕셔너리를 이용해서 인덱스와 값을 지정하여 Series 데이터를 직접 만들어봅시다.

딕셔너리의 값은 다음과 같습니다.

In [1]:
import numpy as np
import pandas as pd

# 예시) 시리즈 데이터를 만드는 방법.
#series = pd.Series([1,2,3,4], index = ['a', 'b', 'c', 'd'], name="Title")
#print(series, "\n")


# 국가별 인구 수 시리즈 데이터를 딕셔너리를 사용하여 만들어보세요.

country = pd.Series([5180,12718,141500,32676], index = ['korea', 'japan', 'china', 'usa'], name="Title")
print(country, "\n")

korea      5180
japan     12718
china    141500
usa       32676
Name: Title, dtype: int64

## DataFrame
시리즈 데이터는 하나의 컬럼 값으로 이루어진 반면 데이터 프레임은 여러 개의 컬럼 값을 가질 수 있습니다.

이번 실습에서는 여러 개의 시리즈 데이터를 이용하여 데이터 프레임을 만드는 법을 배워봅니다.

오른쪽 예제에 있는 국가별 GDP 시리즈 데이터와, 국가별 인구 시리즈 데이터를 이용하여 GDP와 인구 데이터를 모두 나타내는 데이터 프레임을 만들어 보세요!


## 지시사항
### Q1.

국가별 인구를 나타내는 시리즈 데이터인 population과 국가별 GDP를 나타내는 시리즈 데이터인 gdp가 있습니다.

두 시리즈 데이터로 country라는 데이터 프레임을 만드세요. 반드시 population, gdp의 순서로 만들어주셔야 합니다.

### Q2.

country의 두 컬럼을 이용하여 새로운 컬럼을 만들고자 합니다.

1인당 GDP 를 나타내는 새로운 컬럼인 gdp per capita를 데이터 프레임에 추가해보세요.

1인당 GDP는 gdp와 population을 나누어 얻을 수 있습니다.

완성한 데이터 프레임을 출력해보세요!

In [2]:
import numpy as np
import pandas as pd

# 두 개의 시리즈 데이터가 있습니다.
print("Population series data:")
population_dict = {
    'korea': 5180,
    'japan': 12718,
    'china': 141500,
    'usa': 32676
}
population = pd.Series(population_dict)
print(population, "\n")

print("GDP series data:")
gdp_dict = {
    'korea': 169320000,
    'japan': 516700000,
    'china': 1409250000,
    'usa': 2041280000,
}
gdp = pd.Series(gdp_dict)
print(gdp, "\n")


# 이곳에서 2개의 시리즈 값이 들어간 데이터프레임을 생성합니다.
country = pd.DataFrame({
    'population': population,
    'gdp': gdp
})

# 데이터 프레임에 gdp per capita 칼럼을 추가하고 출력합니다.
gdp_per_capita = country['gdp'] / country['population']
country['gdp per capita'] =gdp_per_capita 

# 데이터 프레임을 만들었다면, index와 column도 각각 확인해보세요.
country.index
country.columns

Population series data:
korea      5180
japan     12718
china    141500
usa       32676
dtype: int64

GDP series data:
korea     169320000
japan     516700000
china    1409250000
usa      2041280000
dtype: int64

Index(['population', 'gdp', 'gdp per capita'], dtype='object')

## Indexing & Slicing
데이터 프레임의 값을 참조하기 위해 사용하는 인덱싱과 슬라이싱에는 두 가지 방법이 있습니다.

데이터 프레임의 인덱스의 이름으로 직접 참조하거나, 기존의 파이썬에서 배열의 인덱싱을 하는 방법 모두 사용할 수 있습니다.

이번 실습에서는 명시적인 인덱스를 참조하는 인덱싱과 파이썬 스타일 정수 인덱싱의 차이와 사용 방법을 배워봅시다.

In [6]:
import numpy as np
import pandas as pd

# 첫번째 컬럼을 인덱스로 country.csv 파일 읽어오기.
print("Country DataFrame")
country = pd.read_csv("./data/country.csv", index_col=0)
print(country, "\n")

# 명시적 인덱싱을 사용하여 데이터프레임의 "china" 인덱스를 출력해봅시다.
print(country.loc['china'])


# 정수 인덱싱을 사용하여 데이터프레임의 1번째부터 3번째 인덱스를 출력해봅시다.

print(country.iloc[1:4])

Country DataFrame
              gdp  population  gdp per capita
china  1409250000      141500     9959.363958
japan   516700000       12718    40627.457147
korea   169320000        5180    32687.258687
usa    2041280000       32676    62470.314604

gdp               1.409250e+09
population        1.415000e+05
gdp per capita    9.959364e+03
Name: china, dtype: float64
              gdp  population  gdp per capita
japan   516700000       12718    40627.457147
korea   169320000        5180    32687.258687
usa    2041280000       32676    62470.314604

## pandas 연산과 함수
pandas의 데이터 형식은 다양한 연산을 지원합니다.

영상을 보고 누락된 데이터 처리, 시리즈와 데이터 프레임의 연산과 집계 함수에 대해서 알아봅시다.

그리고 pandas의 데이터 프레임에 여러가지 연산을 활용하여 적용해보세요!

In [7]:
import numpy as np
import pandas as pd


print("A: ")
A = pd.DataFrame(np.random.randint(0, 10, (2, 2)), columns=['A', 'B'])      #칼럼이 A, B입니다.
print(A, "\n")


print("B: ")
B = pd.DataFrame(np.random.randint(0, 10, (3, 3)), columns=['B', 'A', 'C'])     #칼럼이 B, A, C입니다.
print(B, "\n")


# 아래에 다양한 연산을 자유롭게 적용해보세요.

A:
   A  B
0  5  4
1  3  3

B:
   B  A  C
0  0  2  4
1  5  9  8
2  3  3  4

## Dataframe 값으로 정렬하기!
데이터를 처리하다 보면 일정한 기준에 맞추어 정렬하는 일이 빈번하게 발생합니다.

pandas에서도 데이터를 필요에 맞게 정렬할 수 있습니다.

이번 실습에서는 데이터 프레임에 입력되어 있는 값을 오름차순, 내림차순으로 정렬해 봅시다.

In [8]:
import numpy as np
import pandas as pd

print("DataFrame: ")
df = pd.DataFrame({
    'col1' : [2, 1, 9, 8, 7, 4],
    'col2' : ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col3': [0, 1, 9, 4, 2, 3],
})
print(df, "\n")


# 정렬 코드 입력해보기    
# Q1. col1을 기준으로 오름차순으로 정렬하기.
sorted_df1 = df.sort_values('col1', ascending = True)
print(sorted_df1)


# Q2. col2를 기준으로 내림차순으로 정렬하기.
sorted_df2 = df.sort_values('col2', ascending = False)
print(sorted_df2)


# Q3. col2를 기준으로 오름차순으로, col1를 기준으로 내림차순으로 정렬하기.
sorted_df3 = df.sort_values(['col2', 'col1'], ascending=[True, False])
print(sorted_df3)

DataFrame:
   col1 col2  col3
0     2    A     0
1     1    A     1
2     9    B     9
3     8  NaN     4
4     7    D     2
5     4    C     3

   col1 col2  col3
1     1    A     1
0     2    A     0
5     4    C     3
4     7    D     2
3     8  NaN     4
2     9    B     9
   col1 col2  col3
4     7    D     2
5     4    C     3
2     9    B     9
0     2    A     0
1     1    A     1
3     8  NaN     4
   col1 col2  col3
0     2    A     0
1     1    A     1
2     9    B     9
5     4    C     3
4     7    D     2
3     8  NaN     4

## 조건으로 검색하기
데이터 프레임에서, 각 컬럼마다 조건을 충족하는 값만 추출할 수 있습니다.

Numpy의 마스킹 연산처럼 조건식을 직접 쓸 수도 있고, query() 함수를 이용하는 방법도 있습니다.

영상을 보며 데이터 프레임내에서 원하는 데이터를 조건을 주어 검색하는 방법을 배우고, 실습 문제를 해결해봐요.

In [12]:
import numpy as np
import pandas as pd

print("Masking & query")
df = pd.DataFrame(np.random.rand(5, 2), columns=["A", "B"])
print(df, "\n")

#데이터 프레임에서 A컬럼값이 0.5보다 작고 B컬럼 값이 0.3보다 큰값들을 구해봅시다.
df[(df["A"] < 0.5) & (df["B"]>0.3)]
df.query("A < 0.5 and B>0.3")

Masking & query
          A         B
0  0.874831  0.237618
1  0.770050  0.849265
2  0.536377  0.330040
3  0.727931  0.755155
4  0.890745  0.618312

Empty DataFrame
Columns: [A, B]
Index: []

## 함수로 데이터 처리하기
apply() 를 이용하면 함수를 이용하여 데이터 프레임에 값을 적용할 수 있습니다

일정한 동작으로 데이터 프레임을 수정하고자 할 때 편리하게 이용할 수 있는 기능입니다.

영상을 보며 apply()의 다양한 활용법을 알아보고, 실습 문제도 풀어보세요.


## 지시사항
데이터 프레임df에는 정수를 담고있는 Num 칼럼이 있습니다.

df 데이터 프레임에 함수를 이용하여 Num의 제곱수를 나타내는 칼럼인 Square 칼럼을 추가하고, 데이터프레임을 출력해봅시다.

### Q1

값을 받으면 제곱을 해서 돌려주는 함수를 만들어 봅시다.

def square(x):
    return x**2

df["Square"] = df["Num"].apply(square)
Copy

apply로 칼럼에 함수를 적용해 봅시다.

### Q2

함수 대신 람다 표현식으로도 적용하실 수 있습니다.

df["Square"] = df["Num"].apply(lambda x: x ** 2)

In [13]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(5), columns=["Num"])
print(df, "\n")

# 값을 받으면 제곱을 해서 돌려주는 함수
def square(x):
    return x**2

df["Square"] = df["Num"].apply(square)



# apply로 컬럼에 함수 적용




# 람다 표현식으로도 적용하기

   Num
0    0
1    1
2    2
3    3
4    4

## 그룹으로 묶기
groupby() 함수를 이용하면 키 값을 기준으로 그룹으로 묶을 수 있습니다.

groupby() 함수의 사용 예시를 들자면, 시험 성적 데이터에서 각 반을 그룹으로 묶어 각 반의 평균 점수를 구할 수 있습니다.

‘그룹으로 묶는다’ 는 의미가 잘 와닿지 않으신가요?

영상을 보고 groupby함수의 사용법을 알아보고, 실습 문제를 풀어 제출해봅시다.


## 지시사항
### Q1

데이터 프레임의 key 칼럼을 groupby함수로 묶고, key별로 data1과 data2 합계를 출력해보세요.

### Q2

데이터 프레임의 key와 data1칼럼을 groupby함수로 묶고, key와 data1별로 data2의 합계를 출력해보세요.

In [14]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data1': [1, 2, 3, 1, 2, 3],
    'data2': [4, 4, 6, 0, 6, 1]
})
print("DataFrame:")
#print(df, "\n")

# groupby 함수를 이용해봅시다.
# key를 기준으로 묶어 합계를 구해 출력해보세요.
df1=df.groupby('key').sum()
print(df1)



# key와 data1을 기준으로 묶어 합계를 구해 출력해보세요.
df2=df.groupby(['key','data1']).sum()
print(df2)

DataFrame:
     data1  data2
key
A        2      4
B        4     10
C        6      7
           data2
key data1
A   1          4
B   2         10
C   3          7

## 그룹으로 묶기(2)
aggregate() 함수를 이용하여 키값을 기준으로 그룹으로 묶은 결과의 요약 통계량을 구해봅시다.

aggregate() 함수의 결과값 또한 데이터프레임으로 반환되어 한 눈에 보기 편리합니다.

영상을 보며 aggregate() 함수의 사용법을 익히고 실습 문제를 풀어 제출해봅시다.


## 지시사항
aggregate()함수로 요약 통계량을 출력해보세요.

### Q1

데이터 프레임을 key를 기준으로 묶고, key별 data1과 data2 각각의 최솟값과 중앙값, 최댓값을 출력해봅시다.

### Q2

데이터 프레임을 key를 기준으로 묶고, key별 data1의 최솟값과 data2의 합계를 출력해봅시다.

In [15]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data1': [0, 1, 2, 3, 4, 5],
    'data2': [4, 4, 6, 0, 6, 1]
})
#print("DataFrame:")
print(df, "\n")

# aggregate를 이용하여 요약 통계량을 산출해봅시다.
# 데이터 프레임을 'key' 칼럼으로 묶고, data1과 data2 각각의 최솟값, 중앙값, 최댓값을 출력하세요.

df1 = df.groupby('key').aggregate([min, np.median, max])
print(df1)

# 데이터 프레임을 'key' 칼럼으로 묶고, data1의 최솟값, data2의 합계를 출력하세요.
df2 = df.groupby('key').aggregate({'data1':'min','data2':np.sum})
print(df2)

  key  data1  data2
0   A      0      4
1   B      1      4
2   C      2      6
3   A      3      0
4   B      4      6
5   C      5      1

    data1            data2
      min median max   min median max
key
A       0    1.5   3     0    2.0   4
B       1    2.5   4     4    5.0   6
C       2    3.5   5     1    3.5   6
     data1  data2
key
A        0      4
B        1     10
C        2      7

## 그룹으로 묶기(3)
그룹으로 묶은 값에 filter() 함수와 apply() 함수를 적용하고, 설정한 조건으로 데이터 프레임에서 원하는 값만 추출할 수 있습니다.

영상을 보며 그룹핑한 데이터 프레임에 filter() 함수와 apply() 함수를 적용하는 방법을 알아보고, 실습 문제를 풀어보세요.


## 지시사항
### Q1

filter 함수를 이용하여 key별로 그룹을 묶고, 그룹별 data2 평균이 3이 넘는 데이터만 출력해봅시다.

### Q2

apply 함수와 람다식을 이용해서, key를 기준으로 묶은 그룹별 data1과 data2 변수의 최댓값에서 최솟값을 뺀 값을 출력해보세요.

In [16]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data1': [0, 1, 2, 3, 4, 5],
    'data2': [4, 4, 6, 0, 6, 1]
})
#print("DataFrame:")
print(df, "\n")

# groupby()로 묶은 데이터에 filter를 적용해봅시다.
# key별 data2의 평균이 3이 넘는 인덱스만 출력해봅시다.

print("filtering : ")
def filter_bt_mean(x):
    return x['data2'].mean() > 3

df.groupby('key').mean()
df1 = df.groupby('key').filter(filter_bt_mean)
print(df1)





# groupby()로 묶은 데이터에 apply도 적용해봅시다.
# 람다식을 이용해 최댓값에서 최솟값을 뺀 값을 적용해봅시다.

print("applying : ")
df2=df.groupby('key').apply(lambda x: x.max() - x.min())
print(df2)

  key  data1  data2
0   A      0      4
1   B      1      4
2   C      2      6
3   A      3      0
4   B      4      6
5   C      5      1

filtering :
  key  data1  data2
1   B      1      4
2   C      2      6
4   B      4      6
5   C      5      1
applying :
     data1  data2
key
A        3      4
B        3      2
C        3      5

## Multi Index & Pivot Table
인덱스를 계층적으로 만드는 방법 Multi Index에 대해 알아봅시다.

또한, 데이터에서 필요한 데이터만 뽑아서 새롭게 요약 분석할 수 있는 Pivot Table에 대해서도 알아봅시다.

In [17]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(
    np.random.randn(4, 2), 
    index=[['A', 'A', 'B', 'B'], [1, 2, 1, 2]],
    columns=['data1', 'data2']
)
print("DataFrame1")
print(df1, "\n")

df2 = pd.DataFrame(
    np.random.randn(4, 4),
    columns=[["A", "A", "B", "B"], ["1", "2", "1", "2"]]
)
print("DataFrame2")
print(df2, "\n")

# 명시적 인덱싱을 활용한 df1의 인덱스 출력
print("df1.loc['A', 1]")
print(df1.loc['A', 1], "\n") 


# df2의 [A][1] 칼럼 출력
print('df2["A"]["1"]')
print(df2["A"]["1"], "\n")

DataFrame1
        data1     data2
A 1 -0.254737  0.992661
  2  0.572630 -0.457200
B 1  0.305942 -0.676120
  2  2.014784  0.144380

DataFrame2
          A                   B
          1         2         1         2
0 -0.160319 -0.563538 -1.882496 -0.875771
1 -1.272405 -0.261433 -0.970665 -0.928950
2 -1.606065 -0.764525  0.552369 -0.208196
3 -1.159473 -0.614791 -0.530901 -0.492681

df1.loc['A', 1]
data1   -0.254737
data2    0.992661
Name: (A, 1), dtype: float64

df2["A"]["1"]
0   -0.160319
1   -1.272405
2   -1.606065
3   -1.159473
Name: 1, dtype: float64