# 영화 추천시스템

### 라이브러리 및 데이터 불러오기

In [14]:
import pandas as pd
from numpy import *
import numpy as np
import matplotlib.pyplot as plt

In [1]:
ratings = pd.read_csv("ratings_small.csv")
print (ratings.head())

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [2]:
movies = pd.read_csv("movies.csv")
print (movies.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

###  영화 평점과 이름 병합

In [3]:
ratings = pd.merge(ratings[['userId','movieId','rating']],
                   movies[['movieId','title']], how='left',
                   left_on ='movieId' ,right_on = 'movieId')

In [4]:
rp = ratings.pivot_table(columns = ['movieId'],index = ['userId'],values = 'rating')
rp = rp.fillna(0)

In [5]:
rp.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,160080,160271,160438,160563,160565,160567,160590,161155,161594,162376
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 판다스 데이터프레임을 넘파이로 변환

In [15]:
rp_mat = mat(rp)

In [16]:
rp_mat

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [3., 3., 0., ..., 0., 0., 0.],
        [3., 3., 0., ..., 0., 0., 0.]])

### 코사인거리 계산

In [6]:
from scipy.spatial.distance import cosine

In [7]:
# 코사인거리 계산 예시
a= np.asarray( [2, 1, 0, 2, 0, 1, 1, 1])
b = np.asarray( [2, 1, 1, 1, 1, 0, 1, 1])

print ("Cosine similarity between A and B is",round(1-cosine(a,b),4))

Cosine similarity between A and B is 0.8216

## 1. 사용자 기반 유사성 매트릭스

In [9]:
m, n = rp.shape
print(m,n)

213 5411

In [10]:
mat_users = np.zeros((m, m))

In [11]:
mat_users

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [17]:
for i in range(m):
    for j in range(m):
        if i != j:
            mat_users[i][j] = (1- cosine(rp_mat[i,:], rp_mat[j,:]))
        else:
            mat_users[i][j] = 0.

In [19]:
pd_users = pd.DataFrame(mat_users,index =rp.index ,columns= rp.index )
pd_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,204,205,206,207,208,209,210,211,212,213
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.000000,0.000000,0.074482,0.016818,0.000000,0.083884,0.000000,0.012843,0.000000,...,0.000000,0.000000,0.000000,0.152746,0.000000,0.000000,0.000000,0.025665,0.053411,0.014873
2,0.000000,0.000000,0.124295,0.118821,0.103646,0.000000,0.212985,0.113190,0.113333,0.043213,...,0.000000,0.072173,0.021929,0.038117,0.035502,0.021677,0.071819,0.135890,0.187098,0.134630
3,0.000000,0.124295,0.000000,0.081640,0.151531,0.060691,0.154714,0.249781,0.134475,0.114672,...,0.000000,0.110968,0.051140,0.051725,0.128808,0.000000,0.000000,0.096803,0.164688,0.123897
4,0.074482,0.118821,0.081640,0.000000,0.130649,0.079648,0.319745,0.191013,0.030417,0.137186,...,0.048892,0.085509,0.252688,0.040471,0.083486,0.049957,0.147393,0.063217,0.227245,0.192670
5,0.016818,0.103646,0.151531,0.130649,0.000000,0.063796,0.095888,0.165712,0.086616,0.032370,...,0.059153,0.066815,0.055752,0.024227,0.047905,0.000000,0.074473,0.050070,0.286572,0.174631

### 1.1 유사한 사용자 찾기

In [20]:
def topn_simusers(uid = 16,n=5):
    users = pd_users.loc[uid,:].sort_values(ascending = False)
    topn_users = users.iloc[:n,]
    topn_users = topn_users.rename('score')    
    print ("Similar users as user:",uid)
    return pd.DataFrame(topn_users)

In [21]:
print (topn_simusers(uid=17,n=10))

Similar users as user: 17
           score
userId
23      0.374641
105     0.309477
15      0.307179
8       0.285136
152     0.283516
134     0.268920
118     0.268601
73      0.261408
22      0.255590
102     0.255553

### 2.2 높은 평점 영화 찾기

In [22]:
def topn_movieratings(uid = 355,n_ratings=10):    
    uid_ratings = ratings.loc[ratings['userId']==uid]
    uid_ratings = uid_ratings.sort_values(by='rating',ascending = [False])
    print ("Top",n_ratings ,"movie ratings of user:",uid)
    return uid_ratings.iloc[:n_ratings,]

In [23]:
print (topn_movieratings(uid=196,n_ratings=10))

Top 10 movie ratings of user: 196
       userId  movieId  rating                            title
26787     196     2858     5.0           American Beauty (1999)
26848     196     3671     5.0           Blazing Saddles (1974)
26814     196     3408     5.0           Erin Brockovich (2000)
26818     196     3489     5.0                      Hook (1991)
26801     196     3082     5.0  World Is Not Enough, The (1999)
26821     196     3510     5.0                 Frequency (2000)
26824     196     3536     5.0         Keeping the Faith (2000)
26794     196     2949     5.0                    Dr. No (1962)
26840     196     3624     5.0             Shanghai Noon (2000)
26785     196     2762     5.0          Sixth Sense, The (1999)

## 2. 영화 유사성 매트릭스

In [34]:
import time
start_time = time.time()
mat_movies = np.zeros((n, n))

In [35]:
for i in range(n):
    for j in range(n):
        if i!=j:
            mat_movies[i,j] = (1- cosine(rp_mat[:,i], rp_mat[:,j]))
        else:
            mat_movies[i,j] = 0.
last_time = time.time()

In [36]:
print("--- %s seconds ---" % (last_time - start_time))

--- 886.6716542243958 seconds ---

In [28]:
pd_movies = pd.DataFrame(mat_movies,index =rp.columns ,columns= rp.columns )

In [29]:
pd_movies.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,160080,160271,160438,160563,160565,160567,160590,161155,161594,162376
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.395916,0.256876,0.164504,0.189582,0.344532,0.199528,0.112490,0.095801,0.284761,...,0.056591,0.056591,0.0,0.056591,0.056591,0.056591,0.113182,0.056591,0.141478,0.141478
2,0.395916,0.000000,0.227528,0.326561,0.276072,0.204245,0.265428,0.351015,0.193906,0.425883,...,0.085907,0.085907,0.0,0.085907,0.085907,0.085907,0.000000,0.085907,0.107384,0.107384
3,0.256876,0.227528,0.000000,0.268179,0.395922,0.204222,0.494572,0.206024,0.382819,0.109113,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.164504,0.326561,0.268179,0.000000,0.244047,0.131439,0.431539,0.691411,0.458831,0.106525,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.189582,0.276072,0.395922,0.244047,0.000000,0.259674,0.438815,0.301315,0.528777,0.223261,...,0.272853,0.272853,0.0,0.272853,0.272853,0.272853,0.000000,0.272853,0.000000,0.000000

### 2.1 csv파일로 내보내기

In [30]:
pd_movies.to_csv('pd_movies.csv',sep=',')

In [31]:
pd_movies = pd.read_csv("pd_movies.csv",index_col='movieId')

### 2.2 유사한 영화 찾기

In [37]:
import pdb
def topn_simovies(mid = 588,n=15):
    mid_ratings = pd_movies.loc[mid,:].sort_values(ascending = False)
    topn_movies = pd.DataFrame(mid_ratings.iloc[:n,])
    pdb.set_trace()
    topn_movies['index1'] = topn_movies.index
    topn_movies['index1'] = topn_movies['index1'].astype('int64')
    topn_movies = pd.merge(topn_movies,movies[['movieId','title']],
                           how = 'left',left_on ='index1' ,right_on = 'movieId')
    print ("Movies similar to movie id:",mid,",",
           movies['title'][movies['movieId']==mid].to_string(index=False),",are")
    del topn_movies['index1']
    return topn_movies

In [33]:
print (topn_simovies(mid=589,n=15))

Movies similar to movie id: 589 ,  Terminator 2: Judgment Day (1991) ,are
         589  movieId                                              title
0   0.712045      480                               Jurassic Park (1993)
1   0.703844      377                                       Speed (1994)
2   0.668278      457                               Fugitive, The (1993)
3   0.654820      110                                  Braveheart (1995)
4   0.644830     1240                             Terminator, The (1984)
5   0.633408      356                                Forrest Gump (1994)
6   0.629459      349                    Clear and Present Danger (1994)
7   0.621467      380                                   True Lies (1994)
8   0.620268      316                                    Stargate (1994)
9   0.597198     1196  Star Wars: Episode V - The Empire Strikes Back...
10  0.596392      593                   Silence of the Lambs, The (1991)
11  0.595827      292                                    Outbreak (1995)
12  0.594451      296                                Pulp Fiction (1994)
13  0.594274       10                                   GoldenEye (1995)
14  0.590504      165                  Die Hard: With a Vengeance (1995)

## 3. SVD 분석

In [64]:
U,Sigma,VT=linalg.svd(rp_mat)

In [65]:
Sigma

array([288.74592695, 141.2420035 , 120.69848545, 104.5558196 ,
        97.92855509,  93.28582631,  88.19821066,  86.04588056,
        84.07709823,  78.73883217,  73.23711794,  70.53432365,
        69.34166542,  69.07175985,  67.44988983,  66.31942586,
        64.77740082,  64.62758463,  63.63014435,  61.66677188,
        60.28703369,  60.11993174,  59.52959968,  58.64983626,
        57.04081242,  55.66065809,  54.07277667,  53.28740833,
        53.20554049,  52.75730779,  52.42363691,  51.21836761,
        50.8553373 ,  50.15960726,  49.20679687,  48.90618691,
        48.56521915,  48.19529441,  47.74786695,  47.20897421,
        46.94973691,  46.54213668,  45.86137871,  44.983795  ,
        44.66823518,  44.32833769,  44.02781377,  43.27901946,
        43.20762452,  42.91542551,  42.36021609,  42.00372572,
        41.42074972,  41.02842424,  40.74707134,  39.78734835,
        39.38538296,  38.79474677,  38.61773693,  38.49721699,
        38.03524689,  37.94742911,  37.40161675,  37.19120825,
        37.05578978,  36.93380919,  36.58530369,  36.05994428,
        35.9388553 ,  35.66122268,  35.41323363,  34.96776035,
        34.73096732,  34.50198464,  34.31750431,  34.12443685,
        33.70129302,  33.56780321,  33.22507551,  33.01939789,
        32.82166833,  32.78553135,  32.40572115,  32.01499102,
        31.48709386,  31.40582922,  31.29006093,  31.17381586,
        31.00026546,  30.69000515,  30.50519007,  30.22993219,
        30.1268132 ,  29.96173421,  29.71625203,  29.36671561,
        29.2956274 ,  29.04046013,  28.98152508,  28.78748559,
        28.63258445,  28.31109992,  28.17855431,  28.00515077,
        27.78079013,  27.58804022,  27.35248762,  27.25200242,
        27.03036966,  26.89023894,  26.7253022 ,  26.68508617,
        26.51009579,  26.31188241,  25.87394963,  25.77907942,
        25.50905315,  25.1439147 ,  25.05577441,  24.93160806,
        24.71395899,  24.47172587,  24.36597843,  24.0612435 ,
        23.87203467,  23.72177203,  23.61773164,  23.40075801,
        23.15878518,  23.03739692,  22.77362802,  22.75414625,
        22.57779583,  22.49282465,  22.1374448 ,  22.0751769 ,
        21.92805658,  21.86970353,  21.71382609,  21.48136644,
        21.19281291,  21.12289494,  20.97942463,  20.88209722,
        20.6627859 ,  20.62278912,  20.3439247 ,  20.18723974,
        20.07087234,  19.98533759,  19.87291426,  19.5990099 ,
        19.50835816,  19.32057283,  19.18754755,  19.11131085,
        18.97757831,  18.89719684,  18.71024418,  18.6012554 ,
        18.41194172,  18.37035965,  18.19936324,  17.94396507,
        17.82001397,  17.68658312,  17.53651501,  17.10847217,
        16.95894576,  16.93185764,  16.59784058,  16.51707925,
        16.39042809,  16.26891771,  16.02379715,  15.85098819,
        15.75219071,  15.59925553,  15.35672685,  15.09210419,
        14.87312759,  14.69020337,  14.53067672,  14.33384306,
        14.29790966,  14.0920101 ,  13.76449584,  13.70823676,
        13.5869241 ,  13.50023912,  13.24597003,  13.14530672,
        12.86527087,  12.67808126,  12.55012042,  12.51674082,
        12.12510515,  12.03274531,  11.91943413,  11.67636435,
        11.54296792,  11.37130966,  10.96650744,  10.8553824 ,
        10.46564648,  10.4372803 ,  10.38537247,   9.85877158,
         9.25487116,   8.36173374,   8.11713689,   7.92339278,
         6.82141726])

In [66]:
Sig3 = Sigma ** 2
total = sum(Sig3)
total90 = total*.9
print(total, total90)

400804.00000000006 360723.60000000003

In [67]:
sum(Sig3[:105])

361380.69787404063

In [68]:
from numpy import *
from numpy import linalg as la

In [69]:
def ecludSim(inA,inB):
    return 1.0/(1.0 + la.norm(inA - inB))

def pearsSim(inA,inB):
    if len(inA) < 3 : return 1.0
    return 0.5+0.5*corrcoef(inA, inB, rowvar = 0)[0][1]

def cosSim(inA,inB):
    num = float(inA.T*inB)
    denom = la.norm(inA)*la.norm(inB)
    return 0.5+0.5*(num/denom)

In [70]:
def svdEst(dataMat, user, simMeas, item):
    n = shape(dataMat)[1]
    simTotal = 0.0; ratSimTotal = 0.0
    U,Sigma,VT = la.svd(dataMat)
    Sig5 = mat(eye(5)*Sigma[:5]) #arrange Sig5 into a diagonal matrix
    xformedItems = dataMat.T * U[:,:5] * Sig5.I  #create transformed items
    for j in range(n):
        userRating = dataMat[user,j]
        if userRating == 0 or j==item: continue
        similarity = simMeas(xformedItems[item,:].T,\
                             xformedItems[j,:].T)
        #print('the %d and %d similarity is: %f' % (item, j, similarity))
        simTotal += similarity
        ratSimTotal += similarity * userRating
    if simTotal == 0: return 0
    else: return ratSimTotal/simTotal

In [71]:
def recommend(dataMat, user, N=3, simMeas=cosSim, estMethod=svdEst):
    # 1. 점수를 매기지 않은 item 찾기
    unratedItems = nonzero(dataMat[user,:].A==0)[1]
    if len(unratedItems) == 0: return 'you rated everything'
    itemScores = []
    
    # 2. 점수를 매기지 않은 item의 유사도
    for item in unratedItems:
        estimatedScore = estMethod(dataMat, user, simMeas, item)
        itemScores.append((item, estimatedScore))
    
    return sorted(itemScores, key=lambda jj: jj[1], reverse=True)[:N]

In [72]:
recommend(rp_mat,115, N=10, estMethod=svdEst)

[(3373, 4.099979300318332),
 (3596, 4.096751932654711),
 (5050, 4.096751932654711),
 (2216, 4.096545547607235),
 (4167, 4.093710527267996),
 (5310, 4.093390643220823),
 (4131, 4.092987062943223),
 (3458, 4.092033575167376),
 (4416, 4.092033575167376),
 (4491, 4.092033575167376)]